.item {
display: flex;
align-items: center;
gap: 8px;
}

.item:not(:last-child) {
    margin-bottom: 16px;
}

.status {
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.green {
    background-color: green;
}

.status.red {
    background-color: red;
}